<h1>経験抽出法アプリとワークショップ</h1>
<ul class="menu">
<li><a href="workshop">ワークショップの流れ</a></li>
<li><a href="data_upload">データアップロード</a></li>
<li><a href="report">レポート</a></li>
<li><a href="user_admin">ユーザー管理</a></li>
</ul>
<br style="clear: both;"/>
<hr/>
