<ul>
<li><a href="">人ごと</a></li>
<li><a href="">チーム全体</a></li>
<li><a href="">場所ごと</a></li>
<li><a href="">オフィス全体</a></li>
</ul>

<ul>
<li><a href="">himuh</a></li>
<li><a href="">k_taka</a></li>
<li><a href="">h.mura</a></li>
<li><a href="">t.kasu</a></li>
<li><a href="">vevev</a></li>
<li><a href="">ktsun</a></li>
</ul>

<ul>
<li><a href="">チーム全体</a></li>
</ul>

<ul>
<li><a href="">個別席</a></li>
<li><a href="">オープンスペース</a></li>
<li><a href="">会議室</a></li>
<li><a href="">社外</a></li>
<li><a href="">その他</a></li>
</ul>

<ul>
<li><a href="">オフィス全体</a></li>
</ul>
