<!DOCTYPE html>
<html>
	<head>
		<title>NEOESM</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<%- include menu %>  
		<h2>ワークショップの流れ</h2>
		<p>みんなで働き方をの問題点を改善策を発見し、議論し、合意するための、センシングツールを用いたワークショップ</p>
		<h3>STEP1 何が重要なのかをみんなで話し合う</h3>

		<p>指標をリストから選んでみる</p>
		( ´∀`)　　A, B, C...<br />
		( ´∀`)

		<p>指標を作ってみる</p>
		( ´∀`)　　nori...<br />
		( ´∀`)
		<p>結果を予想してみる</p>
		( ´∀`)　　nori100%?<br />
		( ´∀`)

		<h3>STEP2 さくっと測ってみる</h3>

		<p>アプリを使う</p>
		( ´∀`)/■　　※できれば楽しく

		<h3>STEP3 いろいろなレポートを見て意見を出してみる</h3>

		<p>一人で見てみる</p>
		( ´∀`)□

		<p> みんなで見てみる</p>
		( ´∀`)□　□　(´∀`　)

		<p> 専門家と見てみる</p>
		( ´∀`)□　(・ω・`)

		<p> 他のグループと比べてみる</p>
		( ´∀`)□　　　　　　　　　(´∀`　)(´∀`　)<br />
		( ´∀`)　　　　　　　　　　　(´∀`　)

		<h3>STEP4 意見をまとめてみる</h3>

		<p> 課題をまとめてみる</p>
		( ´∀`)　? (´∀`　)

		<p> 今後どうしていきたいかをまとめてみる</p>
		( ´∀`)　! (´∀`　)

		<h3>STEP5 実践してみる</h3>

		<p> 環境と意識を変えてみる</p>
		( `∀´)/<br />
		　環☆

		<h3>STEPx しばらくしたらもう一回測ってみる(繰り返す)</h3>

	</body>
</html>
